<table>
    <thead>
        <tr>

            <th>first name</th>
            <th>last name</th>
            <th>provider specialty</th>
        </tr>
    </thead>
    <tbody>
       <% results.forEach(row => { %>
        <tr>
            <td><%= row.patient_id %></td>
            <td><%= row.first_name %></td>
            <td><%= row.last_name %></td>
            <td><%= row.provider_specialty %></td>
        </tr>
        <% }); %>
    </tbody>
</table>