<table>
    <thead>
        <tr>
            <th>Patient Id</th>
            <th>first name</th>
            <th>last name</th>
            <th>date of birth</th>
        </tr>
    </thead>
    <tbody>
       <% results.forEach(row => { %>
        <tr>
            <td><%= row.patient_id %></td>
            <td><%= row.first_name %></td>
            <td><%= row.last_name %></td>
            <td><%= row.date_of_birth %></td>
        </tr>
        <% }); %>
    </tbody>
</table>